.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/** Components **/

.todoList {
  margin-top: 5%;
  margin-left: 5%;
}

.listItem {
  margin-top: 10px;
  margin-bottom: 10px;
}

.listItem.completed {
  text-decoration: line-through;
}

.listItem .category {
  margin-left: 5px;
  padding: 3px;
  border: 1px solid #000;
}

.checkbox {
  border-radius: 15px;
  margin-right: 3px;
}

.categoryDropdown {
  margin-right: 10%;
  float: right;
}

.title {
  text-decoration: underline;
}


